deviceListJSONpath = conf/morning-dev-list.json
routineListJSONpath = conf/morning-routine.json
safetyListJSONpath = conf/safetyList.json

socketTimeoutMS = 500
heartBeatIntervalMS = 2000

consistencyType = EVENTUAL

# Supported Consistency Types:
# SUPER_STRONG
# STRONG
# RELAXED_STRONG
# EVENTUAL
# WEAK
# LAZY
# LAZY_FCFS
# LAZY_PRIORITY
